span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 50px;
  margin: 0 15px;
  perspective: 1000px;
  justify-content: center;
}

span .button {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}

span .button:before,
span .button:after {
  position: absolute;
  content: "Search";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

span .button:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

span .button:after {
  color: #000;
  background: #fff;
  transform: rotateX(90deg) translateZ(25px);
}

span .button:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.box {
  position: 'absolute';
  top: '50%';
  left: '50%';
  background-color: #000;
  transform: translate(70%, 7%);
  width: 40%;
  border-radius: 20px;
}

.modal{
  overflow-y: scroll;
}

.modal::-webkit-scrollbar {
     display: none;
}